<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
</head>

<body>
    <h1>Lista de Cursos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Duración (horas)</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.descripcion }}</td>
                <td>{{ curso.duracion_horas }}</td>
                <td>{{ curso.fecha_inicio }}</td>
                <td>{{ curso.fecha_fin }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_curso' %}">Registrar Nuevo Curso</a><br><br>
    <a href="{% url 'index' %}">Volver</a><br><br>

</body>

</html>